<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guesswhothesmurfs" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Guess The Smurf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.StartUpActivity"
            android:label="Guess The Smurf">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddActivity"/>
        <provider android:name=".persistency.CharacterProvider"
            android:exported="false"
            android:authorities="com.example.provider.guesswhothesmurfs"/>
    </application>

</manifest>